*{
    font-size: large ;
    margin: 0;
    padding:0;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}
:root{
    --clippy:polygon(0 0,0 0,0 100%, 0% 100%);
    --blanco-for-titulos:rgba(251, 252, 253, 0.849);
    --blanco-fondo-seccion:rgba(207, 201, 201, 0.438);
    --blue-for-titulo: rgb(0, 119, 255);
    --negro-for-texto:rgba(0, 0, 0, 0.89);
    --color-secundario:rgba(0, 0, 0, 0.89);
    --color-primario: rgb(0, 119, 255);
    --imagen_de_fondo: none ;
    --color_texto_footerYnav:rgba(251, 252, 253, 0.849);
    --color_fondo_de_secciones:rgb(190, 255, 255);
    --fondo_loginandregistro:rgba(52, 134, 242, 0.231);
    
}
/* llamar variable creada:    var(--color-primario) */
html{
    height:auto;
    width: auto;
    margin: 0;
    padding: 0;
}

main{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

body{
    
    margin: 0;
    padding: 0;
    background-image:linear-gradient(var(--color-secundario),rgba(18, 131, 236, 0.445)), url(/img/jpg/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height:auto;
    width: auto;
    
}

@media screen and (max-width:360){
    body{
        height:auto;
        width: auto;

    }

}


@media screen and (max-width:412){
    body{
        height:auto;
        width: auto;

    }

}

body header{
    /* flex-grow: 100%; */
    width:auto;
    height: 20%;
}

body nav{
    width:auto;
    height: 20%;
}

body main{
    width:auto;
    height: 60%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 7px;
  
    /* flex-grow: 59.5%; */
    /* margin-top: -0.3px; */



}

body aside{
    display: grid;
    float: left;
    margin-top: -0.3px;
    /* flex-grow: 39.5%; */
    /* margin-top: 127px; */
    width:30%;
    height: 100%;

}
@media screen and (max-width:574px){

    body .contenedor-principal{
        float: top;
        width:100%;

    }

    body aside{
        float:bottom;
        width:100%;

    }

}



body footer{
    display: grid;
    float: bottom;
    width:100%;
    height: auto;
    margin-top: 200px;


}




/*                 navegacion              */

.contenedor-head{
    flex:100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;


}


/* linear-gradient(var(--color-primario),var(--color-secundario)); */

@media  (max-width: 468px){

    .hamburger-button{
        flex-grow:1;
    
        position: absolute;
        inset: 20px 20px 0 0;
        width: 50px;
        height: 50px;
        background-color: var(--color-secundario);
        border:none;
    }
    
    .hamburger-icon{
        flex-grow:1;
        position: relative;
        display:block;
        width: 30px;
        height: 3px;
        color: var(--color_texto_footerYnav);
    
    }
    
    
    .navsection .navsection-ul{
        flex-grow:1;
        /* era antes display:flex */
    position: absolute;
    list-style: none;
    margin: 1vh;
    top:0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
    
    
    }


}
/* 
.navegacion{
    flex:100%;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-grow:1; 
    flex:100%;
    /* background-image: linear-gradient() url(''); 
    background-color: var(--color-secundario);
    background-size: cover;
    color: var(--blanco-for-titulos);
    padding: 0  40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
   
}


.navsection{
    /* position: fixed; 
    position: absolute;
    left: -250px;
    width: 250px;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: blueviolet;
    display: grid;
    place-items: center; 
    clip-path:circle(0% at top left);
    transition: clip-path 0.3s ease;
    /* transition: clip-path .3s; 

}

.nav-target:target{
    clip-path:circle(150% at top left); 
    transition: clip-path .3s; 
}


.navsection-link{
    text-decoration: none;
    color: var(--blanco-for-titulos);
    
} */



.navsection .navsection-ul{
flex-grow:1;
display:flex;
list-style: none;
margin: 1vh;

}

.navsection .navsection-ul li{
    flex-grow:1;
    margin: 0 5px 0 5px;
    background-color: var(--color-primario); 
     transition: .3;
    
    }



.navsection .navsection-ul li a{
    color: var(--color_texto_footerYnav);
    text-decoration: none;



    }

.navsection .navsection-ul li a:hover{
        margin: 0 5px 0 5px;
        padding:  12px 0 12px 0;
        background-color: var(--color-primario);
        transition: var(--color-primario) 0.3s ease-out, color 0.5s ease-out;

    
    } 

.Logo{
   
    width: 40px;
    height: 40px;
    margin-right: 20vw;
    margin-left: 15px;

    }


.nav-icon{
    width: 40px;
    height: 40px;
    margin-right: 8vw;
    margin-left: 80px; 

    }

@media (max-width:1044px){
 .Logo{
    margin-right: 45vw;

 }
    
}

@media (max-width:952px){
    .Logo{
       margin-right: 35vw;
   
    }
       
   }

   @media (max-width:804px){
    .Logo{
       margin-right: 25vw;
   
    }
       
   }


   @media (max-width:696px){
    .Logo{
       margin-right: 15vw;
   
    }
       
   }

   @media (max-width:616px){
    .Logo{
       margin-right: 5vw;
   
    }
       
   }




/*             main           */

.contenedor-principal{
   
    display: flex;
    /* flex:60%; */
    flex-grow: 59%;
    flex-wrap:wrap;
    align-content:space-around;
    margin: 0;
    padding: 0;
    width: 59%;
    height: 80%;


}

/* bienvenida */
.bienvenida{
    flex-grow:1;
    padding: 2vh 1vw 2vh 1vw;
    margin: 0;
    width: auto;
    height: 10vh;
   
}

.bienvenida h1{

    color: var(--blanco-for-titulos);
    text-align: center;
    font-size: larger;
}

.bienvenida h1 strong:hover{
    color: var(--blue-for-titulo);
    transition:  0.3s ease-out, color 0.5s ease-out;;

    
}


/*             uno            */

.contenuno{
flex-grow:1;
display: grid;
place-items: center;
background-color: var(--color_texto_footerYnav);
width: auto;
height: auto;
padding: 0px;
margin: 0px;
padding-left: 15px;
padding-right: 15px;



}

.contenuno  h1{
    display: flex;
    color: var(--color_texto_footerYnav);
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;


}

.contenuno h2{
    padding: 5px;
    color: var(--color-primario);
    padding: 0px;
    margin: 0px;
}


.contenuno p{
    color: var(--color-secundario);
    padding: 0px;
    margin: 0px;


}
/*             dos            */

.contendos{
    flex-grow:1;
    display: grid;
    place-items: center;
    background-color: var(--blanco-fondo-seccion);
    width: auto;
    height:auto;
    /* height: 80vh; */
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    
    }

.contendos h2{
    color: var(--color-primario);

    }



/*             tres            */


.contentres{
    flex-grow:1;
    display: grid;
    place-items: center;
    background-color: var(--color_texto_footerYnav);
    width: auto;
    height:auto;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    
    }

.contentres h2{ 

    color: var(--color-primario);

}


/*             cuatro            */

.contencuatro{
    flex-grow:1;
    display:grid;
    place-items: center;
    background-color: var(--blanco-fondo-seccion);
    width: auto;
    height:auto;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    }


.contencuatro h2{

        color: var(--color-primario);
        }

.contencuatro p{

    color: var(--color-secundario);
    }

/*            aside           */

aside{

    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    background-color:var(--color_texto_footerYnav);
    color: var(--color-secundario);
    width: 39%;
    height: 80%;
    padding: 0px;
    margin: 0px;
    
    }


aside h3{ 
    display: grid;
    place-items: center;
    color: var(--color-primario);
    flex-grow: 1;
    padding-left:10px ;
    padding-right: 10px;


}

aside p{ 
    display: grid;
    place-items: center;
    flex-grow: 1;
    color: var(--color-secundario);
    padding-left:10px ;
    padding-right: 10px;


}
/*             footer            */


.pie{
    flex:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--color-secundario);
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.pie .pie-ul{
    flex-grow: 1;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 1rem;
    list-style: none;

}

.pie .pie-ul li{
    flex-grow: 1;
    
    flex-direction: row;
    margin: 2vh 5vw 2vh 5vw;
    padding: 0;
    color: var(--color_texto_footerYnav);
    text-decoration: none;
   

  
}

.pie .pie-ul li a{
    
    color: var(--color_texto_footerYnav);
    text-decoration: none;
  
}

.pie-ul .cont:hover{

    margin: 0 5px 0 5px;
    padding:  12px 0 12px 0;
    background-color: var(--color-primario);
    transition: var(--color-primario) 0.3s ease-out, color 0.5s ease-out;




}



/*                 para el nav desplegable                    */




.nav{
    background: rgba(0, 0, 0, 0.838);
    height: 80px;
    color: blanchedalmond;  

}

.nav_logo{
    margin-right: 72vw;
    font-size: 1.5em;
    font-weight: 900px;
    padding-top: 0;

}

.nav_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;

}

.nav_input:checked + .nav_menu {
    background: rgba(5, 45, 204, 0.56);
    clip-path: circle(100% at center);

}

.nav_label + .nav_input{

    display: none;
}

.nav_label{
    display:block;
    cursor: pointer;
    margin-right: 49vw;
    width: 100px;
    height: 100px;
   

}

.nav_label img{
    padding-top: 0;
    width: 50px;
    height: 50px;
    margin-left: 50vw;
    

}

.nav_input{

    position: absolute;
    width: 0px;
    height: 0px; 
    background: rgba(231, 229, 232, 0.283);
    margin: 0;
    padding: 0;
    margin-top: 76px;
    margin-left: 100.5vw;
}


.nav_menu{
    position: absolute;
    display: fixed;
    top: 80px;
    bottom: 0;
    grid-auto-flow: row;
    gap:2em;
    width: 117px;
    height: 200px; 
    background: rgba(3, 1, 4, 0.339);
    margin: 0;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-left: 82.5vw;
    clip-path: circle(0 at center);
    transition: clip-path 0.5s ease;
    margin-left: 92vw;

}

.nav_items::after{
    content: "";
    display: block;
    
    margin: 2px;
    padding: 0;
    list-style: none;
    color: rgb(11, 11, 11);
    padding: 10px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;

}

.nav_items{
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    --clippy:polygon(0 0,0 0,0 100%, 0% 100%);
    
}

.nav_items:hover{
  
    --clippy:polygon(0 0,100% 0,100% 100%, 0% 100%);
}


/*
            login         */

/* .div_login{
    
    padding: 10px;
    width: 90%;
    height:auto;
    justify-content: column;
    align-items: column;
    margin-left: 5%;
    border: solid rgba(71, 71, 69, 0.929);
    padding-top: 0px;
    background:rgba(52, 134, 242, 0.231);

}  */


.form_login{
    align-content:flex-start;
    display: flex;
    flex-wrap: wrap;
    z-index: inherit;
    box-shadow:0 8px 15px -7px rgba(154, 151, 151, 0.995);
    margin-top: 120px; 
    height:auto;
    width: 25%;
    padding:0;
    padding: 10px;
    justify-content: column;
    align-items: column;
    margin-left: 37%;
    border: solid rgba(71, 71, 69, 0.929);
    padding-top: 0px;
    background:rgba(52, 134, 242, 0.231);
     
}


.div_container{
    /* display:table-row-group; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    /* max-width: 800px;  */
    width: 100%;
    height:100%;


}




.form_login div{

    align-content:flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 9%;
    margin:0;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
    text-align:center;
    
    
}

h1{
    color: var(--blanco-for-titulos);
    margin: 10px;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: large;
    
}

.form_login .l1{
    margin: 0;
    padding: 0;
    height: 30%;
    width: 30%;
    /* padding-left: 100px; */
    color:var(--color_texto_footerYnav);
    flex-grow: 1;
    margin-left: 40px;
    

}

.form_login .i1{
    width: 40%;
    height: 30%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;

}

.form_login .l2{
    width:30%;
    /* padding-left: 100px; */
    height: 20%;
    margin: 0;
    padding: 0;
    color:var(--color_texto_footerYnav);
    flex-grow: 1;
    margin-left: 40px;
    

}

.form_login .i2{
    width: 40%;
    height: 30%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    
}
/* AQUI */
.form_login .l3{
    width: 30%;
    /* padding-left: 100px; */
    height: 20%;
    margin: 0;
    padding: 0;
    color:var(--color_texto_footerYnav);
    flex-grow: 1;
    margin-left: 40px;
    

}


/* FIN */

/* 
.div_botones{
    display: flex;
    align-items: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 20%;
} */

.boton_submit{
    background:var(--color-primario);
    color:rgba(248, 250, 251, 0.968);
    border-radius: 15%;
    width: 10px;
    height: 40px;
    margin: 0;
    padding: 5px;
    text-align: center;
    margin-top: 8px; 
    margin-right: 25%;
    margin-left: 2%;
    flex-grow: 1;
    
}

.boton_reset{
    background: var(--color-secundario);
    color:rgba(248, 250, 251, 0.968);
    border-radius: 15%;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 5px;
    text-align: center;
    margin-left: 25%;
    margin-right: 2%; 
    margin-top: 8px; 
    flex-grow: 1;
    
}


@media screen and (max-width:594px){

.form_login{
    margin: auto;
    align-items: center;
    justify-content: center;


    }

 .boton_reset{
    width: 45px;


    }

.boton_submit{
    width: 45px;

    }

  }

@media screen and (max-width:400px){

    .form_login{
        margin: auto;
        align-items: center;
        justify-content: center;
        
    
    }

    .boton_reset{
        width: 25px;
    
    
        }
    
    .boton_submit{
        width: 25px;
    
        }
    

}


a{
    color:var(--color_texto_footerYnav);
    text-decoration: none;
    margin-left: 37%;

}

a:hover{

color:var(--color-primario)
}