:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --blanco-for-titulos: rgba(251, 252, 253, 0.849);
  --blanco-fondo-seccion: rgba(207, 201, 201, 0.438);
  --blue-for-titulo: rgb(0, 119, 255);
  --negro-for-texto: rgba(0, 0, 0, 0.89);
  --color-secundario: rgba(0, 0, 0, 0.89);
  --color-primario: rgb(0, 119, 255);
  --imagen_de_fondo: none;
  --color_texto_footerYnav: rgba(251, 252, 253, 0.849);
  --color_fondo_de_secciones: rgb(190, 255, 255);
  --fondo_login_registro_card: rgba(52, 134, 242, 0.231);
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  --header-menu-color: rgba(0, 0, 0, 0.838);
  --header-color: #5e5858;
  --hero-opacity-color: rgba(0, 0, 0, 0.5);
  --full-white-color: #fff;
  --text-color: #222;
  --intense-orange-color: #f4a909;
  --light-gray-color: #e7e8f1;
  --card-info--background-color: rgba(3, 5, 34, 0.8);
  --contact-card-shadow-color: rgba(0, 0, 0, 0.1);
}
/* llamar variable creada:    var(--color-primario) */

/*********** Reset ***********/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  transition: all 0.5s ease-out;
}

p {
  line-height: 1.6;
  color: var(--text-color);
}

.complement-title {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--blue-for-titulo);
}

/********* Header *********/

.header-logo-image {
  max-width: 3rem;
  height: auto;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-btn {
  border: 0;
  cursor: pointer;
  border-radius: 0.2rem;
}

.header-menu-btn svg {
  fill: var(--intense-orange-color);
}

.header-nav-menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: var(--header-menu-color);
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.header-nav-menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--intense-orange-color);
}

.header-nav-menu a:hover {
  background-color: var(--header-color);
  color: var(--full-white-color);
}

.header-nav-menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.none {
  display: none;
}

footer {
  margin-bottom: var(--header-height);
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .header-container {
    max-width: 1200px;
  }

  .header-logo-image {
    margin-left: 7rem;
  }

  .header-menu-btn {
    display: none;
  }

  .header-nav-menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
    background-color: #0000;
  }

  .header-nav-menu a {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .header-nav-menu a:last-child {
    padding-right: 0;
  }

  .hero-image {
    background-position: center;
  }
}

/* @media screen and (max-width: 574px) {
  body .contenedor-principal {
    float: top;
    width: 100%;
  }

  body aside {
    float: bottom;
    width: 100%;
  }
} */

/* body footer {
  display: grid;
  float: bottom;
  width: 100%;
  height: auto;
  margin-top: 200px;
} */

/*                 navegacion              */

.home {
  min-height: 100vh;
}

/* hero image */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  background-attachment: var(--hero-attachment);
  min-height: 100vh;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--intense-orange-color);
}

@media screen and (min-width: 1024px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/********** sections  **********/
article p{
  text-align: justify;

}

article a{
  justify-content: center;
  text-decoration: none;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--blue-for-titulo);
}

.about {
  background-color: var(--full-white-color);
}

.services {
  background-color: var(--light-gray-color);
}

/********** containers **********/

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

/********** footer **********/

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  background-color: var(--negro-for-texto);
  color: var(--full-white-color);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-bottom: 0;
  }
}

/********** cards **********/

/* sección de servicios */

.service-section-card {
  position: relative;
  margin: 0 auto;
  display: block;
  overflow-y: hidden;
}

.service-section-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-section-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--card-info--background-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.service-section-card-info h3 {
  color: var(--intense-orange-color);
}

.service-section-card-info p {
  color: var(--full-white-color);
}

.service-section-card:hover .service-section-card-info {
  opacity: 1;
  pointer-events: auto;
}

/* sección de contacto */

.contact-card-content {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1rem;
}

.contact-section-card {
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.13rem 0.13rem 0.6rem 0.2rem var(--contact-card-shadow-color);
  border-radius: 0.135rem;
}

.contact-section-card-content {
  padding: 0.1rem 0.2rem;
}

.contact-section-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.service-section-card-info h3 {
  margin-bottom: 0.6rem;
}

.contact-section-card-info p {
  text-align: justify;
  margin-bottom: 0;
}

.contact-section-card-info svg {
  width: 50px;
  height: 50px;
}

.social-media svg {
  width: 28px;
  height: 28px;
}

.contact-section-card-info svg {
  fill: var(--header-color);
}

.contact-section-card-info h3 {
  color: var(--blue-for-titulo);
}

.contact-section-card-info a {
  color: var(--color-secundario);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contact-card-content {
    grid-template-columns: repeat(2, 36%);
    justify-content: center;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact-card-content {
    grid-template-columns: repeat(4, 21%);
    gap: 1rem;
  }
}

/********** modal **********/

.modal {
  position: fixed;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--card-info--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
  max-width: 400px;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.modal-close svg {
  fill: var(--intense-orange-color);
}

.service-section-card-modal {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--full-white-color);
}

.service-section-card-modal h3 {
  color: var(--blue-for-titulo);
  margin-bottom: 1rem;
}

.service-section-card-modal-info a {
  margin: 0 auto;
}

.modal[id|='service']:target {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .services .container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .modal-content {
    max-width: 800px;
    height: auto;
  }

  .service-section-card-modal {
    max-width: 800px;
    flex-direction: row;
  }

  .service-section-card-modal img {
    max-width: 50%;
    min-height: 100%;
    /* object-fit: cover; */
    padding-right: 0.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .services .container {
    justify-content: space-around;
  }

  .service-section-card {
    width: 35vw;
    gap: 0;
  }

  .section {
    width: 100%;
    min-height: 100vh;
  }
}

/********** Form **********/

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2.5rem;
  box-shadow: 0.13rem 0.13rem 0.6rem 0.2rem var(--contact-card-shadow-color);
  padding: 1.2rem 0.8rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  margin-bottom: 1rem;
  border: none;
  border-bottom: thin solid var(--text-color);
  background: none;
}

.contact-form p {
  margin-bottom: 0;
}

.contact-form textarea {
  resize: none;
}

.contact-form button[type='submit'] {
  max-width: 150px;
  border: thin solid var(--intense-orange-color);
  background-color: var(--full-white-color);
  transition: all 0.5s ease-in-out;
}

.contact-form button[type='submit']:hover {
  color: var(--full-white-color);
  background-color: var(--intense-orange-color);
}

@media screen and (min-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(2, 40%);
  }

  .contact-form textarea {
    grid-column: span 2;
  }
}

/* ------------------------------------------------------------------------ */

.navsection .navsection-ul {
  flex-grow: 1;
  display: flex;
  list-style: none;
  margin: 1vh;
}

.navsection .navsection-ul li {
  flex-grow: 1;
  margin: 0 5px 0 5px;
  background-color: var(--color-primario);
  transition: 0.3;
}

.navsection .navsection-ul li a {
  color: var(--color_texto_footerYnav);
  text-decoration: none;
}

.navsection .navsection-ul li a:hover {
  margin: 0 5px 0 5px;
  padding: 12px 0 12px 0;
  background-color: var(--color-primario);
  transition: var(--color-primario) 0.3s ease-out, color 0.5s ease-out;
}

.Logo {
  width: 40px;
  height: 40px;
  margin-right: 20vw;
  margin-left: 15px;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin-right: 8vw;
  margin-left: 80px;
}

/*             footer            */
/* 
.pie {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: var(--color-secundario);
  padding: 0px;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.pie .pie-ul {
  flex-grow: 1;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.pie .pie-ul li {
  flex-grow: 1;

  flex-direction: row;
  margin: 2vh 5vw 2vh 5vw;
  padding: 0;
  color: var(--color_texto_footerYnav);
  text-decoration: none;
}

.pie .pie-ul li a {
  color: var(--color_texto_footerYnav);
  text-decoration: none;
}

.pie-ul .cont:hover {
  margin: 0 5px 0 5px;
  padding: 12px 0 12px 0;
  background-color: var(--color-primario);
  transition: var(--color-primario) 0.3s ease-out, color 0.5s ease-out;
} */

/*                 para el nav desplegable                    */

.nav {
  background: rgba(0, 0, 0, 0.838);
  height: 80px;
  color: blanchedalmond;
}

.nav_logo {
  margin-right: 72vw;
  font-size: 1.5em;
  font-weight: 900px;
  padding-top: 0;
}

.nav_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

/* aqui se cambia el colos del menu desplegable */
.nav_input:checked + .nav_menu {
  background: rgb(0 119 255/20%);
  clip-path: circle(100% at center);
}

.nav_label + .nav_input {
  display: none;
}

.nav_label {
  display: block;
  cursor: pointer;
  margin-right: 49vw;
  width: 100px;
  height: 100px;
}

.nav_label img {
  padding-top: 0;
  width: 50px;
  height: 50px;
  margin-left: 50vw;
}

.nav_input {
  position: absolute;
  width: 0px;
  height: 0px;
  background: rgba(231, 229, 232, 0.283);
  margin: 0;
  padding: 0;
  margin-top: 76px;
  margin-left: 100.5vw;
}

.nav_menu {
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  display: fixed;
  top: 80px;
  bottom: 0;
  grid-auto-flow: row;
  gap: 2em;
  width: 180px;
  height: 129vh;
  background: rgba(3, 1, 4, 0.339);
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-left: 86vw;
  clip-path: circle(0 at center);
  transition: clip-path 0.5s ease;
  margin-left: 85.9vw;
}

.nav_items::after {
  content: '';
  display: block;
  margin: 2px;
  padding: 0;
  list-style: none;
  color: rgb(11, 11, 11);
  padding: 10px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

.nav_items {
  padding: 5px;
  text-decoration: none;
  color: aliceblue;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  flex-grow: 1;
}

.nav_items:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

hr {
  color: rgb(0 119 255/20%);
}

/* card de la secciondos */

.card_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: -10px;
  box-shadow: 0px 12px 12px rgb(70, 71, 71);
  background-color: var();
  width: 32.5%;
  height: 100%;
  margin: auto;
  padding: 0;
  border: solid rgba(71, 71, 69, 0.382);
  background: var(--fondo_login_registro_card);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.card:hover {
  z-index: 20px;
  top: -30px;
  /* left: -50px; */
  box-shadow: 0px 12px 12px var(--color-primario);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

figure {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
}

figure > img {
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
}

.contenido h3 {
  font-size: 90%;
  display: inline-block;
  margin: auto;
  padding: 0;
  text-align: center;
  color: var(--blanco-for-titulos);
}

.contenido p {
  font-size: 80%;
}

.contenido div {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(74, 73, 73);
  width: 100%;
  height: auto;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding: 0 5px 0 5px;
  margin: auto;
}

.buttom_card {
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0;
  text-align: center;
}
/* para las cartas a tamaño 776px */
@media only screen and (max-width: 776px) {
  .card_container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
  }

  .card {
    width: 33.33%;
    height: auto;
    margin: auto;
    padding: 0;
  }

  figure {
    margin: auto;
    padding: 0;
    width: 100%;
    height: auto;
  }

  figure > img {
    margin: auto;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .contenido h3 {
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--blanco-for-titulos);
  }

  .contenido p {
    font-size: 70%;
    text-align: justify;
    margin: auto;
    padding: auto;
    margin-top: 3px;
  }

  .contenido div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
  }

  .contenido {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    width: 18.18%;
    height: auto;
  }

  .buttom_card {
    width: 20%;
    height: auto;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0;
  }

  /* fin */
}
