<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/icon/undraw_server_cluster_jwwq.ico" type="image/x-icon">
    
    
    <title>Login_V-SoporteIT</title>
</head>
<body> 
    
<header class="contenedor-head" >
    <section class="bienvenida">
        &nbsp;
    <h1>BIENVENID@S  A  <strong>V-SoporteIT<strong></h1>
    </section> 

</header>
<!--               fin navegacion            -->
<!--               cuerpo             -->      
<form class="form_login" action="" method="get">
    <h1>LOGIN</h1>
    <div class="div_container">
        <div>
            <label class="l1" for=#user>Usuario:</label>
            <input class="i1" type="text" name="" id="user" required placeholder="Usuario">
        </div>

        <div>
            <label class="l2" for="#password">Password:</label>
            <input class="i2" type="password" name="" id="password" required required placeholder="Password" >
        </div>
    </div> <!--  fin div-coontainer -->

    <input class="boton_reset" type="reset" value="Reset">
    <input class="boton_submit" type="submit" value="Enter">
</form>

<a href="/Index.html">Pag anterior</a>
<!--            footer            -->
 <footer>
    <div class="pie">
        <ul class="pie-ul">
            <li>&copy; Todos los    <strong>derechos reservados</strong>
            </li>
            <!-- <li><a href="#" class="cont">Contactatos</a></li>  -->
        </ul>
    </div>
</footer>
</body>
</html>