<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/quienes_somos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/icon/undraw_server_cluster_jwwq.ico" type="image/x-icon">
    
    
    <title>Quienes-Somos</title>
</head>
<body> 
<!--               nav nuevo                -->

<header class="header">
    <section class="header-container">
        <div class="header-logo">
            <a href="/Index.html">
                <img src="/img/icon/logo.png" alt="logo de la empresa V-SoporteIT" class="header-logo-image">                
            </a>
        </div>
        <button class="header-menu-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
              </svg>
              <svg
                class="none"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z"
                />
              </svg>
        </button>

        <nav class="header-nav-menu">
            <a href="./quienes_somos.html">¿Quienes somos?</a>
            <a href="#¿Que ofrecemos?">¿Que ofrecemos?</a>
            <a href="./contactanos.html">Contáctanos</a>
              <!-- <a href="./registro.html">Registrate</a>
            <a href="./login.html">Login</a> -->
        </nav>
    </section>
</header>

<!--               header           -->

<!-- <header class="contenedor-head" >
    <section class="bienvenida">
        &nbsp;
    <h1>BIENVENIDOS  A  <strong>V-SoporteIT<strong></h1>
    </section> 

</header> -->

<!--         fin navegacion       -->
<!--            cuerpo           -->
<!-- <main class="contenedor-principal"> -->
    
    <section class="contenuno" id="¿Quienes somos?">
        &nbsp;
            <h2>¿Quienes somos?</h2>
            &nbsp;
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>V-SoporteIT</b>, nacio con la finalidad de dar soporte en todas las áreas posibles en cuanto a tecnología se refiere. Ubicados en Venezuela.
            &nbsp;&nbsp;&nbsp;&nbsp; Somos un grupo de ingenieros Informáticos  en varias áreas, como los son: redes, seguridad y desarrollo web. Con la capacidad para solventar sus problemas y brindar ayudar a distintos sectores en su crecimiento laborar.</p>
        &nbsp;
        
        
    </section>
    <hr width=100%>
    <section class="contentres">
        <div>
            <h2>Misión</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Aportar apoyo técnologico en múltiples áreas de la tecnología a los usuarios y/o empresas que requieran de dicho apoyo, tanto a nivel local, como a nivel Latinoamericano. Ayudando así con el buen funcionamiento de sus labores económicas y sociales.</p>
        </div>
        <div>
            <h2>Visión</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Ser lideres tecnologícos en Latinoamerica con nuestro apoyo en desarrollo de páginas web y ser también lideres locales en las áreas de  redes  y soporte técnico. Dando de esta manera soporte completo a nuestros clientes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div> 
        <div>
        <h2>Valores</h2>
            <ul>
                <li>Responsabilidad</li>
                <li>Compromiso</li>
                <li>Confianza</li>
                <li>Transparencia</li>
                <li>Ética</li>
                <li>Igualdad</li>
                <li>Solidaridad</li>
            </ul> 
        </div>
    </section>
    <hr width=100%>
    <section class="contendos" id="¿Que ofrecemos?">
        &nbsp;
         <h2>Descripcion y cargos principales</h2>
        &nbsp;      
    
        <div class="card_container">
           
            <div class="card">
                <figure>
                    <img src="/img/svg/undraw_male_avatar_g98d.svg" alt="img_red">
                </figure>
                <hr width=100%>
                <div class="contenido">
                    <div>
                        <h3>Presidente (a)</h3>
                    </div>
                  
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum harum earum facere a, voluptatem ea beatae optio nisi cupiditate ex possimus, eos obcaecati autem, quis expedita numquam quaerat quisquam? Tempora.</p>
                    
                </div>
                <!-- <button class="buttom_card" href="/template/cont_redes.html" btn >Ir</button> -->
            </div>

            <div class="card">
                <figure>
                    <img src="/img/svg/undraw_female_avatar_efig.svg" alt="img_red">
                </figure>
                <hr width=100%>
                <div class="contenido">
                    <div>
                        <h3>Secretario (a)</h3>
                    </div>
                  
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem beatae aut dolore animi eius esse placeat earum debitis, numquam porro sint ipsa delectus assumenda, nihil corrupti qui at repellendus est!</p>
                    
                </div>
                <!-- <button class="buttom_card" href="/template/cont_redes.html" btn >Ir</button> -->
            </div>

            <div class="card">
                <figure>
                    <img src="/img/svg/undraw_male_avatar_g98d.svg" alt="img_red">
                </figure>
                <hr width=100%>
                <div class="contenido">
                    <div>
                        <h3>Tesorero (a)</h3>
                    </div>
                  
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam veniam, sit at quis, voluptas ex reprehenderit sed minus porro est possimus repellendus placeat ab veritatis nam doloribus consequatur quae aliquid?</p>
                    
                </div>
                <!-- <button class="buttom_card" href="/template/cont_redes.html" btn >Ir</button> -->
            </div>

            <div class="card">
                <figure>
                    <img src="/img/svg/undraw_male_avatar_g98d.svg" alt="img_red">
                </figure>
                <hr width=100%>
                <div class="contenido">
                    <div>
                        <h3>Contralor (a)</h3>
                    </div>
                  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam velit, aperiam fugit ad debitis cum rerum error ex amet. Quis ratione blanditiis alias. Officiis in praesentium ex eligendi quam rerum.</p>
                    
                </div>
                <!-- <button class="buttom_card" href="/template/cont_redes.html" btn >Ir</button> -->
            </div>

            <div class="card">
                <figure>
                    <img src="/img/svg/undraw_male_avatar_g98d.svg" alt="img_red">
                </figure>
                <hr width=100%>
                <div class="contenido">
                    <div>
                        <h3>Coordinador (a) de educacion</h3>
                    </div>
                  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eum unde officia dolore ex consequatur quidem in vero dolor soluta suscipit corrupti ipsam minima saepe natus illum quo, ipsum eos.</p>
                    
                </div>
                <!-- <button class="buttom_card" href="/template/cont_redes.html" btn >Ir</button> -->
            </div>


        </div>

    </section>
    
 <!-- </main>   -->

<!--               fin  cuerpo             -->
    <!--               footer             -->
    <footer class="footer">      
        <li>&copy; Todos los <strong>derechos reservados</strong></li>
      </footer>
<script src="/js/script.js"></script>
</body>
</html>