<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/icon/undraw_server_cluster_jwwq.ico" type="image/x-icon">
    
    
    <title>Diseño-web</title>
</head>
<body> 
<!--               nav nuevo                -->

<header class="header">
    <section class="header-container">
        <div class="header-logo">
            <a href="/Index.html">
                <img src="/img/svg/undraw_visionary_technology_re_jfp7.svg" alt="logo de la empresa V-SoporteIT" class="header-logo-image">                
            </a>
        </div>
        <button class="header-menu-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
              </svg>
              <svg
                class="none"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z"
                />
              </svg>
        </button>
        <nav class="header-nav-menu">
            <a href="./quienes_somos.html">¿Quienes somos?</a>
            <a href="#¿Que ofrecemos?">¿Que ofrecemos?</a>
            <a href="./contactanos.html">Contáctanos</a>
            <a href="./registro.html">Registrate</a>
            <a href="./login.html">Login</a>
        </nav>
    </section>
</header>

<!--               header           -->
<!-- <header class="contenedor-head" >
    <section class="bienvenida">
        &nbsp;
    <h1>BIENVENID@S  A  <strong>V-SoporteIT<strong></h1>
    </section> 

</header> -->
<!--         fin navegacion       -->
<!--            cuerpo           -->
<!-- <main class="contenedor-principal"> -->
                
    <section class="contenuno">
            <h1>Diseño de Páginas web</h1>
            &nbsp;
            <p> Servicios de Diseño de Páginas web, para emprendedores, empresas pequeñas y medianas. En la cuál se les brindará: Diseño web adaptado para su emprendimiento y/o empresa, además del soporte y mantenimiento de la misma. ádemas de varias opciones de diseños a optar que varia según los requerido  por el cliente. Ofrecemos trabajo de calidad y precios absesibles.</p>
        
    </section>
   <hr width=100%>
   <section class="contendos" >
        
    <h2>Galeria de diseños web</h2> 
    &nbsp;
    <di class="divgalery">
 <!--SOLO AGREGAR AQUI LAS IMAGENES PARA LA GALERIA -->
        <img src="/img/jpg/ejemplodered.jpg" alt=""> 
        <img src="/img/jpg/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" alt=""> 
        <img src="/img/jpg/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" alt=""> 
        <img src="/img/jpg/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" alt=""> 
       
    </div>
</section> 
   
<!-- </main> -->
<!--               fin  cuerpo             -->
<!--               footer                  -->
 <footer>
    <div class="pie">
        <ul class="pie-ul">
            <li>&copy; Todos los <strong>derechos reservados</strong>
            </li>
            <!-- <li><a href="#" class="cont">Contactatos</a></li>  -->
        </ul>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>